body{
    display: flex;
    background-color: rgb(191, 236, 204);
   
}

img{
    display: flex;
    width: 25vw;
    height: 25vh;
    
}

fieldset{
    display: flex;
}

#navigation{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

h6{
    font-style: italic;

}



